/* hero */

.hero{
    height: 60vh;
    margin-bottom: 8rem;
    background-color: #60A5AA;
}



.positioning-div{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.hero-content{
    padding-left: 4.4rem;
    position: relative;
}

.hero-line{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: .4rem;
    background-color: #EB5A2D;
    /* height: 100%; */
}

.hero-title{
    font-weight: 700;
    font-size: 5rem;
    /* line-height: 1.1; */
}

/* about-us */
.the-team-title{
    margin-bottom: 8rem;
}

.title{
    margin-bottom: 8.8rem;
    background-image: linear-gradient(#c5d2e7, #c5d2e7);
    background-size: 100% 0.05rem;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
}

.title-heading{
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 700;
    padding: .9rem 0 1.2rem;
    letter-spacing: .1rem;
    color: #02464a;
    width: 30%;
    background-image: linear-gradient(#c5d2e7, #c5d2e7);
    background-size: 68% 0.3rem;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
}

.the-team-highlight{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: flex-start;
}

.the-team-highlight-left-bg{
    position: absolute;
    top: -4rem;
    left: calc((100vw - 1180px) / 2* -1 - 30px);
    right: 70%;
    bottom: 4rem;
    background: #f7ebe5;
    z-index: 0;
}

.the-team-highlight-photo{
    z-index: 1;
}

.the-team-highlight-photo img{
    width: 26rem;
}

.the-team-highlight-text{
    color: #02464a;
    width: 50%;
}

.member-name{
    font-weight: 300;
    margin-bottom: 1.2rem;
    line-height: 1.27;
    letter-spacing: -.1rem;
    font-size: 2.2rem;
}

.position{
    letter-spacing: .1rem;
    font-size: 1.2rem;
    line-height: 1.;
    padding-left: 1rem;
    position: relative;
    text-transform: uppercase;
}

.position::before{
    width: .3rem;
    background: #0db2e5;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: "";
    height: 100%;
}

.quote{
    font-size: 1rem;
    line-height: 1.3;
    margin: 3.2rem 0;
    margin-bottom: 1rem;
    color: #3e4657;
    font-weight: 300;
}

.team-logo{
    display: flex;
    align-items: center;
    color: #60A5AA;
}

.team-logo h2{
    letter-spacing: -.1rem;
    font-size: 1.2rem;
}

.team-logo span{
    color: #EB5A2D;
    letter-spacing: 0;
}

.team-logo img{
    width: 40px;
}

.history-highlight-right-bg{
    position: absolute;
    top: -4rem;
    right: calc((100vw - 1180px) / 2* -1 - 30px);
    left: 70%;
    bottom: 4rem;
    background: #02464a;
    z-index: 0;
}

.history-cta{
    font-weight: 300;
    margin-bottom: 1.2rem;
    line-height: 1.27;
    letter-spacing: -.1rem;
    font-size: 1.6rem;
}


/* about cta */

.about-cta{
    background-color: #EB5A2D;
    padding: 8rem 0 17rem;
    position: relative;
    margin-bottom: -10rem;
    z-index: 3;
}

.extra-padding{
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.about-cta-title{
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -.2rem;
    margin-bottom: 4rem;
}

.about-cta-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about-cta-content{
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 300;
    width: 52%;
}

.contact{
    background: #fff;
    width: 15.4rem;
    line-height: 4rem;
    padding: 0 3.9rem 0 2.4rem;
    border: none;
    color: #02464a;
    border-radius: 3.2rem;
}