/* header */

.header a, .header .bi-list{
    color: #02464a;
}

.header .logo-image{
    fill: #02464a;
}

.header-sticky a, .header-sticky .bi-list{
    color: #fff;
}

.header-sticky .logo-image{
    fill: #fff;
}

/* hero */

.hero{
    height: 60vh;
    margin-bottom: 8rem;
    background: #f7ebe5;
    color: #02464a;
}



.positioning-div{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.hero-content{
    position: relative;
}


.hero-title{
    font-weight: 300;
    font-size: 5rem;
}

.breakers{
    margin-top: 4rem;
    height: .3rem;
    border-top: 1px solid #60a5aa7b;
    border-bottom: 1px solid #60a5aa7b;
}

.breakers1{
    margin-top: .2rem;
    height: .3rem;
    border-top: 1px solid #60a5aa7b;
    border-bottom: 1px solid #60a5aa7b;
}

/* companies */
.title{
    margin-bottom: 3rem;
    background-image: linear-gradient(#c5d2e7, #c5d2e7);
    background-size: 100% 0.05rem;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
}

.title-heading{
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 700;
    padding: .9rem 0 1.2rem;
    letter-spacing: .1rem;
    color: #02464a;
    width: 30%;
    background-image: linear-gradient(#c5d2e7, #c5d2e7);
    background-size: 68% 0.3rem;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
}

.companies{
    color: #02464a;
}

.company-content{
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.26;
    letter-spacing: -.1rem;
    margin-bottom: 8rem;
}

.company-content span{
    color: #EB5A2D;
}

.companies-grid{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1.9rem;
    margin-bottom: 8rem;
}


.company-card a{
    display: flex;
    overflow: hidden;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;        
}

.company-card a img{
    width: 18vw;
    max-width: 100vw;
    height: auto;
}

@media screen and (max-width:1023px) {
    .hero{
        height: 40vh;
        margin-bottom: 4rem;
    }

    .hero-title{
        font-size: 3rem;
    }

    .company-content{
        font-size: 1.6rem;
    }
}

@media screen and (max-width:768px) {
    .company-card{
        width: 100%;
    }

    .company-card a img{
        width: 100%;
    }
}