/* header */

.header a, .header .bi-list{
    color: #02464a;
}

.header .logo-image{
    fill: #02464a;
}



.header-sticky a, .header-sticky .bi-list{
    color: #fff;
}

.header-sticky .logo-image{
    fill: #fff;
}

/* hero */

.hero{
    height: 60vh;
    margin-bottom: 8rem;
    background: #f7ebe5;
    color: #02464a;
}



.positioning-div{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.hero-content{
    position: relative;
}


.hero-title{
    font-weight: 300;
    font-size: 5rem;
}

.breakers{
    margin-top: 4rem;
    height: .3rem;
    border-top: 1px solid #60a5aa7b;
    border-bottom: 1px solid #60a5aa7b;
}

.breakers1{
    margin-top: .2rem;
    height: .3rem;
    border-top: 1px solid #60a5aa7b;
    border-bottom: 1px solid #60a5aa7b;
}

/* expertise grid */


.expertise-grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}

.field{
    width: 25%;
    margin: 0 1.2rem 2.4rem;
    position: relative;
    padding-top: 25%;
    border-radius: .4rem;
}

.cover-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.expertise-grid img{
    vertical-align: top;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    aspect-ratio: 458 / 514;
}

.info-card{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .35s, visibility .35s;
    background: #60A5AA;
    color: #fff;
    padding: 2.4rem;
    border-radius: .4rem;
    opacity: 0;
    visibility: visible;
    overflow-y: auto;
}

.field:hover .info-card{
    opacity: 1;
}

.field-title{
    font-weight: 700;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
}

.field-content{
    font-size: 1rem;
    color: #c5d2e7;
}

/* about cta */

.about-cta{
    background-color: #EB5A2D;
    padding: 4rem 0 14rem;
    position: relative;
    margin-bottom: -10rem;
    z-index: 3;
}

.extra-padding{
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.about-cta-title{
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -.2rem;
    margin-bottom: 4rem;
}

.about-cta-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about-cta-content{
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 300;
    width: 52%;
}

.contact{
    background: #fff;
    width: 15.4rem;
    line-height: 4rem;
    padding: 0 3.9rem 0 2.4rem;
    border: none;
    color: #02464a;
    border-radius: 3.2rem;
}

@media screen and (max-width:768px) {
    .hero{
        height: 40vh;
    }

    .hero-title{
        font-size: 3rem;
    }

    .cover-image{
        position: static;
        display: block;
    }

    .field{
        width: 100%;
        padding-top: 0;
    }

    .info-card{
        position: static;
        opacity: 1;
        /* margin-top: -5rem; */
        background: transparent;
        border-radius: 0;
        padding: 1rem;
    }

    .field-title{
        display: none;
    }

    .field-content{
        color: #02464a;
    }

    .about-cta-title{
        font-size: 2.4rem;
    }

    .about-cta-body{
        flex-wrap: wrap;
    }

    .about-cta-content{
        width: 100%;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .contact{
        width: 10rem;
        padding: 0 2rem 0 1rem;
        line-height: 3rem;
    }

}

@media screen and (768px < width < 1280px) {
    .info-card{
        padding: 1.4rem;
    }
    
    .field-title{
        font-size: 1.1rem;
    }

    .field-content{
        font-size: .9rem;
    }
}