/* header */

.header a{
    color: #02464a;
}

.header .logo-image{
    fill: #02464a;
}

.header-sticky a{
    color: #fff;
}

.header-sticky .logo-image{
    fill: #fff;
}

/* hero */

.hero{
    height: 60vh;
    margin-bottom: 8rem;
    background: #f7ebe5;
    color: #02464a;
}



.positioning-div{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.hero-content{
    position: relative;
}


.hero-title{
    font-weight: 300;
    font-size: 5rem;
}

.breakers{
    margin-top: 4rem;
    height: .3rem;
    border-top: 1px solid #60a5aa7b;
    border-bottom: 1px solid #60a5aa7b;
}

.breakers1{
    margin-top: .2rem;
    height: .3rem;
    border-top: 1px solid #60a5aa7b;
    border-bottom: 1px solid #60a5aa7b;
}

/* the team */

.title{
    margin-bottom: 4rem;
    background-image: linear-gradient(#c5d2e7, #c5d2e7);
    background-size: 100% 0.05rem;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
}

.title-heading{
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 700;
    padding: .9rem 0 1.2rem;
    letter-spacing: .1rem;
    color: #02464a;
    width: 30%;
    background-image: linear-gradient(#c5d2e7, #c5d2e7);
    background-size: 68% 0.3rem;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    color: #02464a;
}

.member-card{
    width: calc(33.33% - 6.4rem);
    margin: 1.6rem 3.2rem 4rem 0;
    border-left: 1px solid #c5d2e7;
    padding-left: 2.4rem;
}

.member-name{
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0 0 1.6rem -2.4rem;
    border-left: .4rem solid #c5d2e7;
    padding-left: 2rem;
}

.member-position{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: .4rem;
}

.member-division{
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: 0;
}

.social-icons{
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.icon{
    font-size: 1rem;
    padding: .2rem .4rem;
    background-color: #02464a;
}

.icon .bi{
    transition: all .35s ease-in-out;
}

.icon:hover .bi{
    opacity: .4;
}